{
  "root": true,
  "extends": ["standard", "prettier/standard"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
   "arrow-parens": [2, "as-needed"],
   "import/prefer-default-export": [1],
   "indent": ["error", 2, { "MemberExpression": "off", "SwitchCase": 1 }],
   "function-paren-newline": [0],
   "no-console": ["error", { allow: ["warn", "error", "log"] }]
   "no-debugger": "error",
   "prettier/prettier": [
    "error",
    {
      "semi": true,
      "singleQuote": true,
      "trailingComma": "all"
    }]
  },
  "plugins": ["prettier", "standard"]
}
